:root{
    --primary-color: dodgerblue;
}
.cart-amount{
    display: flex;
    color: var(--primary-color);
    font-size: 24px;
    gap: 20px;
    font-weight: 700;
    border:1px solid var(--primary-color);
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
}
.minus,.plus{
    color: white;
    cursor: pointer;
}


body{
    margin: 0;
    background: black;
    color: white;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-feature-settings: "pnum" on, "lnum"on;
}

h1, h2, h3, h4, h5, b{
    font-weight: 500;
}

img{
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.logo{
    width: 150px;
}

.text-primary{
    color: var(--primary-color);
}
.btn{
    white-space: nowrap;
    border: 1px var(--primary-color)solid;
    border-radius: 5px;
    padding: 8px 20px;
    color: white;
    text-decoration: none;
    background: transparent;
}

form{
    margin-top: 30px;
}

.btn:hover{
    background-color: var(--primary-color);
}

nav{
    background: #111 ;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
}

nav a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
}
nav a:hover{
    color: var(--primary-color) ;
}

nav .active{
    border-radius: 7px;
    background: orange;
    color: var(--primary-color)
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.weight{
    color: #999;
    font-size: 14px;
}
.name{
    font-weight: 500;
    margin: 10px 0;
}
.rel{
    position: relative;
    overflow: hidden;
}
.desc{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.768);
    color: #111;
    padding:25px 15px;
    top:0;
    display: flex;
    align-items: center;
    font-weight: 500;
transition:all 0.5s ;
border-radius: 7px;
    opacity: 0;

    /* opacity */
    transform:scale(0) ;
}
.product:hover .desc{
opacity: 1;
/* opacity */
transform: scale(1);
}
.label{
    position: absolute;
    top: 5px;
    right: 5px;
    background: tomato;
    color: #111;
    font-weight: 500;
    padding:5px 20px;
    border-radius: 5px;
}

.label i{
    margin-right: 5px;
}





footer{
    background: #111;
    padding: 40px 0;
    margin-top: 40px;
}

footer img{
    max-width: 150px;
}
.right{
    color: var(--primary-color);
    text-align: right;
}


h4{
    font-weight: 500;
    margin-bottom: 20px;
}

footer a{
color:white;
text-decoration: none;
display: block;
margin-bottom: 5px;
}

footer a:hover{
    color: var(--primary-color);
}
.border{
    border-top: 1px #222;
    border-bottom: 1px #222 solid;
    margin-top: 20px;
    padding-bottom: 20px;
}

.phone{
    font-size: 32px;
    margin: bottom 15px;
}

.gray{
    color: #999;
    text-align: right;
}


.icons i{
width: 40px;
height: 40px;
border-radius: 50%;
background-color: #333;
font-size: 25px;
display: flex;
align-items: center;
justify-content: center;
}
.icons{
    display: flex;
    justify-content:end;
    margin-top: 10px;
    gap: 10px;
}

.copy{
    padding: 10px;
    color: rgb(166, 159, 159);
}
.swiper-slide{
    width: 50%;
}


.cart-product{
    display: grid;
    grid-template-columns: 200px auto 200px 100px;
    align-items: center;
    gap: 20px;
    border-bottom:1px #333 solid;
}

form div {
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
}

select, input{
width: 50%;
padding: 10px;
}

@media screen and (max-width: 975px){
    .hidden-sm{
        display:none
    }


  .products{
    grid-template-columns: repeat(2,1fr);
  }  
}
  @media screen and (max-width: 500px){
    
    .products{
        grid-template-columns: repeat(1,1fr);
    }
  
.hidden-xs{
    display: none;
}
nav{
    overflow: auto;
}
  }



  .bg{
    background: #00000085;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal{
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
    position: relative;
  }

  .close{
    position: absolute;
    right: 8px;
    top:8px
  }

  .hidden{
    display: none;
  }

  .error{
color: tomato;
font-size: 14px;
  }